.form-container {
  height: 100vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  max-width: 320px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 1px 3px 8px 0px rgba(34, 60, 80, 0.2);
}

.label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  font-weight: 500;
}

input {
  height: 25px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.288);
  border-radius: 3px;
}

input:focus {
  border: 2px solid red;
  outline: none;
}

.heading {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}

.button-submit {
  height: 40px;
  border: none;
  background-color: rgb(243, 3, 3);
  color: white;
  font-weight: 500;
  letter-spacing: 0.6px;
  border-radius: 3px;
  cursor: pointer;
}

.button-submit:hover {
  background-color: rgb(245, 27, 27);
}

.have-accaunt {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
}

.have-accaunt span {
  color: red;
  cursor: pointer;
}